@import "features.scss";
@import "Loader.scss";
:root {
  --nav-col: white;
  --primary-color: rgba(255, 255, 255, 0.4);
  --hover-light-background: #35a29f;
  --hover-light-color: white;
  --text-color: #272727;
  --svg-color: black;
  --input-border: black;
  --label-color: black;
  --form-color: transparent;
  --container-color: white;
  --task-cards-border: whitesmoke;
  --slide-nav-transparent: rgba(255, 255, 255, 0.9);
  --linear-grad: linear-gradient(to right, #35a29f, white, #165c73);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.2s;
}
.dark {
  --nav-col: #030f3a;
  --primary-color: #030f3a;
  --container-color: #02071b;
  --hover-light-background: #35a29f;
  --hover-light-color: white;
  --text-color: white;
  --svg-color: rgb(255, 255, 2);
  --input-border: white;
  --label-color: white;
  --form-color: #030f3a;
  --task-cards-border: #165c73;
  --card-col: #243049;
  --slide-nav-transparent: rgba(3, 15, 58, 0.9);
  --linear-grad: linear-gradient(
    to right,
    rgb(23, 23, 197),
    rgb(194, 16, 194),
    rgb(172, 2, 2)
  );
}
.light {
  --nav-col: white;
  --primary-color: rgba(255, 255, 255, 0.4);
  --hover-light-background: #35a29f;
  --hover-light-color: white;
  --text-color: #272727;
  --svg-color: black;
  --input-border: black;
  --label-color: black;
  --form-color: transparent;
  --container-color: white;
  --slide-nav-transparent: rgba(255, 255, 255, 0.9);
  --task-cards-border: whitesmoke;
  --linear-grad: linear-gradient(to right, #35a29f, white, #165c73);
}

body {
  background-color: var(--primary-color);
}
.container {
  min-height: 87.8vh;
  z-index: 1;
  overflow: hidden;
  background-color: var(--container-color);
  color: var(--text-color);
  position: relative;

  .back-blob {
    z-index: -2;
    height: 250px;
    width: 250px;
    filter: blur(50px);
    border-radius: 63% 64% 70% 64% / 76% 94% 75% 42%;
    position: absolute;
    background: var(--linear-grad);
    animation: mouse-blob-move 4s linear infinite alternate;
    @keyframes mouse-blob-move {
      from {
        transform: rotate(-90deg);
      }
      to {
        transform: rotate(45deg);
      }
    }
  }
  .blur {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100vw;
    backdrop-filter: blur(100px);
  }
}

.navigation-links-hamburger {
  display: none;
}
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99999999;
}
.navbar {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-color);
  background-color: var(--nav-col);
  color: var(--text-color);

  & > .navigations-links {
    @include navigation-linkS;
  }
}

button > svg {
  transform: translateY(-1.4px);
  color: var(--svg-color);
  font-size: 2rem;
  &:hover {
    color: orange;
  }
}

.form-class {
  overflow: hidden;
  position: relative;
  background: var(--form-color);
  @include flex(center, center);
  width: 100vw;
  height: 87.7vh;
  .blob {
    @include blob($anim-name: move);
    &:hover {
      @include blob-hover;
    }
  }

  .blob1 {
    @include blob($anim-name: move1);
    &:hover {
      @include blob-hover;
    }
  }
  .blob2 {
    @include blob($anim-name: move2);
    &:hover {
      @include blob-hover;
    }
  }
}
.add-task-class {
  padding-top: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  & > form {
    @include form($height: 55vh);
  }
}
form {
  @include form;

  & > h2 {
    transform: translateY(-30px);
    font-size: 4rem;
    color: var(--text-color);
  }

  & > section {
    @include flex(center, center);
    position: relative;

    & > input:focus {
      border: none;
      outline: 2px solid var(--hover-light-background);
    }
  }
  & > section > label {
    font-size: 1rem;
    transition: smooth, 0.4s;
    color: var(--label-color);
    font-family: $font;
    font-weight: 500;
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: -1;
  }

  input {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--input-border);
    padding: 0 1rem;
    margin: 5px;
    height: 35px;
    border-radius: 3px;
    width: 50vw;
    color: var(--text-color);
    font-family: $font;
    font-weight: 500;
    background-color: transparent;
  }

  .btn-link {
    @include flex(space-between, center);
    flex-direction: column;

    p {
      margin: 5px 0px;
      color: var(--text-color);
      font-size: 1.3rem;
      font-weight: 500;
    }

    button {
      color: var(--text-color);
      @include button(rgb(92, 92, 231));
      &:hover,
      &:active {
        @include btn-hover(white, rgb(92, 92, 231));
      }
    }

    a {
      color: var(--text-color);
      text-decoration: none;
      @include button(crimson);

      &:hover,
      &:active {
        @include btn-hover(white, crimson);
      }
    }
  }
}

.task-cards {
  padding: 15px;
  margin: 0px auto;
  margin-top: 80px;
  width: 80vw;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 15px;

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    color: var(--text-color);
    backdrop-filter: blur(10px);
    background: var(--card-col);
    border: 2px solid var(--task-cards-border);
    box-shadow: 5px 5px 12px 1px rgba(31, 38, 135, 0.37);
    z-index: 0;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    & > .card-text {
      @include flex(end, start);
      flex-direction: column;
      padding: 20px;
      width: 75vw;
      height: 100%;
      & > h3 {
        margin-bottom: 12px;
      }
      .card-text-p {
        text-align: justify;
        width: 72vw;
        margin-bottom: 10px;
      }
      .card-text-and-operations {
        margin-top: 15px;
        width: 72vw;
        @include flex(space-between, center);
        & > .update-and-del {
          height: 100%;
          width: 25vw;
          padding: 5px 0px;
          @include flex(space-around, center);
          gap: 20px;
          button {
            font-size: 1rem;
            color: var(--text-color);
            @include button(red, 8vw, 6vh);
            &:hover {
              @include btn-hover(white, red);
            }
          }
          .checkbox-div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            p {
              font-size: 1.2rem;
              color: var(--text-color);
            }
          }
          input {
            cursor: pointer;
            height: 30px;
            outline: none;
            width: 30px;
          }
          input:checked {
            accent-color: var(--hover-light-background);
            height: 30px;
            outline: none;
            width: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 1156px) {
  .navbar {
    & > .navigations-links {
      display: none;
    }
  }
  .navigation-links-hamburger {
    display: grid;
    align-items: center;
    direction: rtl;
    height: 60px;
    width: 60px;
    .navigation-hamburger {
      display: grid;
      align-items: center;
      height: 30px;
      width: 40px;
      transition: smooth 2s;
      $initialWidth: 5;
      @for $i from 1 through 3 {
        .nav-hamburger:nth-child(#{$i}) {
          height: 2px;
          border-radius: 10px;
          $width: (1.5 * $i) * $initialWidth;
          width: $width + px;
          border: 2px solid var(--text-color);
          transition-delay: #{$i}ms;
        }
      }
    }
    & > .navigation-hamburger:is(:hover, :active, :focus) {
      .nav-hamburger {
        width: 40px;
      }
    }
    .slider-nav {
      position: fixed;
      display: grid;
      justify-content: center;
      align-items: space-between;
      top: 77px;
      right: 0;
      z-index: 5;
      width: 90vw;
      height: 92vh;
      background-color: var(--slide-nav-transparent);
      & > button {
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: transparent;
        outline: none;
        border: none;
        & > svg:is(:active, :focus, :hover) {
          color: orange;
        }
      }

      & > .navigations-link {
        border: 2px solid var(--hover-light-background);
        @include navigation-linkS(grid, 90vw, center);
        button:before {
          content: "Theme";
          font-size: 3vh;
          font-weight: 500;
          letter-spacing: 1px;
          color: var(--text-color);
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3vh;
          height: 5vh;
          width: 70vw;
          &:hover {
            height: 5vh;
          }
          &.active {
            height: 5vh;
          }
        }
      }
    }
  }
  .blur {
    display: none;
  }
  .back-blob {
    display: none;
  }
  .form-class {
    overflow: hidden;
    width: 100vw;
    .blob {
      @include blob(450px, 450px, move);
    }

    .blob1 {
      @include blob(450px, 450px, move1);
    }
    .blob2 {
      @include blob(450px, 450px, move2);
    }
  }
  form {
    height: 70vh;
    width: 97vw;
    input {
      width: 80vw;
    }

    .btn-link {
      button {
        width: 70vw;
      }
      a {
        width: 70vw;
      }
    }
  }
  .add-task-class > form {
    height: 70vh;
    width: 97vw;

    input {
      width: 80vw;
    }

    .btn-link {
      button {
        font-size: 2.2vh;
        width: 70vw;
      }
    }
  }
  .task-cards {
    width: 99vw;
    .cards {
      & > .card-text {
        width: 90vw;
        .card-text-p {
          width: 85vw;
        }
        .card-text-and-operations {
          width: 80vw;
          @include flex(center, start);
          flex-direction: column;
          & > .update-and-del {
            margin-top: 15px;
            width: 80vw;
            @include flex(space-around, center);
            gap: 20px;
            button {
              font-size: 2vh;
              @include button(red, 25vw, 6vh);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 756px) {
  .navigation-links-hamburger {
    .slider-nav {
      height: 77vh;
    }
  }
  .form-class {
    height: 80vh;
    overflow: hidden;
    width: 100vw;
    .blob {
      @include blob(250px, 250px, move);
    }

    .blob1 {
      @include blob(350px, 350px, move1);
    }
    .blob2 {
      @include blob(250px, 250px, move2);
    }
  }
  .task-cards {
    width: 99vw;
    .cards {
      & > .card-text {
        width: 90vw;
        .card-text-p {
          width: 80vw;
        }
        .card-text-and-operations {
          width: 80vw;
        }
      }
    }
  }
}
