@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

$font: "Rubik", sans-serif;

@mixin flex($x-align, $y-align) {
  display: flex;
  justify-content: $x-align;
  align-items: $y-align;
}


@mixin navigation-linkS($display:flex,$width:45vw,$x-Axis:space-evenly){
  margin: 0 12px;
  display: $display;
  justify-content: $x-Axis;
  align-items: center;
  width: $width;

  & > a {
    display: flex;
    justify-content: center;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text-color);
    &:hover {
      transition: all 0.1s;
      height: 2rem;
      background: var(--hover-light-background);
      color: var(--hover-light-color);
      border-radius: 7px;
      padding: 0 0.7rem;
      border: 2px solid var(--hover-light-background);
    }
    &.active {
      height: 2rem;
      background: var(--hover-light-background);
      color: var(--hover-light-color);
      border-radius: 7px;
      padding: 0 0.7rem;
      border: 2px solid var(--hover-light-background);
    }
  }
  & > button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
  }

}



@mixin form($width:60vw,$height:80vh)
{
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  z-index: 0;
  width: $width;
  height: $height;
  border-radius: 5px;
  @include flex(space-evenly, center);
  flex-direction: column;
}

@mixin button($color,$width:15vw,$height:7vh) {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 2px solid $color;
  width: $width;
  height: $height;
  border-radius: 5px;
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

@mixin btn-hover($txt-color, $bg-color) {
  background-color: $bg-color;
  color: $txt-color;
  transition: smooth, 0.3s;
  border: darken($bg-color, 10);
}

@mixin blob($anim-name) {
  position: absolute;
  width: 500px;
  height: 500px;
  background: linear-gradient(
    180deg,
    rgba(47, 184, 255, 0.42) 31.77%,
    #5c9df1 100%
  );
  mix-blend-mode: color-dodge;
  -webkit-animation: move 25s infinite alternate;
  animation: $anim-name 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

@mixin blob-hover {
  width: 520px;
  height: 520px;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.6),
    inset 100px 100px 0 0px #fa709a, inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
}

@-webkit-keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 32% 96% 84% 34% / 64% 71% 54% 25%;
  }

  to {
    transform: translate(500px, -200px) rotate(-200deg);
    border-radius: 92% 56% 79% 47% / 64% 41% 74% 69%;
  }
}

@-webkit-keyframes move1 {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 92% 36% 49% 74% / 64% 71% 54% 69%;
  }
  to {
    transform: translate(500px, -70vh) rotate(-360deg);
    border-radius: 62% 36% 39% 74% / 44% 35% 54% 89%;
  }
}

@keyframes move1 {
  from {
    transform: translate(-200px, -120px) rotate(-150deg);
    border-radius: 92% 36% 49% 74% / 64% 71% 54% 69%;
  }

  to {
    transform: translate(-500px, 100px) rotate(-90deg);
    border-radius: 62% 36% 39% 74% / 44% 35% 54% 89%;
  }
}

@-webkit-keyframes move2{
    from {
      transform: translate(-20px, -250px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
    to {
      transform: translate(-20px, 250px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
  
  @keyframes move2 {
    from {
      transform: translate(-20px, -250px) rotate(-45deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(90px, 250px) rotate(-300deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
  
